body {
    font-family: "Garamond", serif;
    background-color: var(--bg-color);
    color: var(--text-color);
  }

:root {
    background-image: url(sep09.jpg);
    --text-color: white; 
    background-size: cover;
  }

  #homeTitle{
    font-size: 7rem;
    text-align: center;
    padding-top: 8%;
  }

  #homeNav{
    list-style-type: none;
    margin: 0;
    padding: 2rem;
    text-align: center;
    text-decoration: none;
    padding-top: 4%;
  }

  #homeNav li{
    display: inline;
    padding: 14px 16px;
  }

  #homeNav a{
    text-decoration: none;
    color: rgb(250, 250, 250);
    padding: 1em;
    font-size: 2em;
    border: 1px solid #ffffff;
    padding: 14px 16px;
  }

  #welcome{
    font-size: 4rem;
    text-align: center;
  }

  footer{
    position: absolute;
    bottom:1%;
    right:1%
  }

  #nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0%;
    overflow: hidden;
    background-color: #d8d8d8;
    padding-top: 0.5%;
    padding-bottom: 0.5%;

  }

  #nav li{
    display: inline;
    border-right: 1px solid #000000;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
  }

  #nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.25rem;
    padding: 14px 16px;
  }

  #abtcontent{
    display: flex;
    
  }

  #abtcol{
    display: flex;
    flex-direction: column;
    max-width: 40%;
    padding-right: 10%;
    padding-left: 1%;
    padding-top: 1%;
  }

  img{
    display: block;
    width: 450px;
  }

  #xp{
    padding-left: 1%;
  }

  a{
    color: var(--text-color)
  }

  #proj{
    display: grid;
    grid-template-columns: auto auto auto auto;
    list-style-type: none;
    text-align: center;
    padding: 0;
  }

  #projtitle{
    text-align: center;
    font-size: 3rem;
    padding-bottom: 2%;
  }

  #proj li{
    font-size: 1.5em;
  }

  table{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
    width: 25%;
  }

  caption{
    font-size: 2rem;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  th, td{
    font-size: 1.5em;
    text-align: center;
  }

  #contactForm{
    padding-top: 1%;
    text-align: center;
  }

  #email{
    width: 400px;
  }

